___

<center><img src="../HAP-E-logo.png" alt="HAP-E" width="200"/></center>
  
___
<em>HAP-E Group tutorial</em>

# Numbers and variable basics

In this tutorial, we will learn about numbers in Python and how to handle them.

We'll cover the following topics:

    1. Types of number variables
    2. Basic arithmetic operations
    3. Using named variables
    4. Dynamic typing
    5. Variable type and the type() function

---
## 1. Types of number variables
---

Python has various "types" of numbers (i.e. "numeric literals"). The most common types are integers and floating point numbers, which we will focus on for now.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are integers.

Floating point numbers have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (scientific notation for 4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Type</th> 
    <th>Examples</th>
</tr>

<tr>
    <td>Integer numbers</td>
    <td>6, 12, -15, 999</td> 
</tr>

<tr>
    <td>Floating point numbers</td> 
    <td>1.5, -0.05, 1.00234, 3E2</td> 
</tr>
 </table>

---
## 2. Basic arithmetic operations
---
Now let's start with some basic arithmetic.

In [7]:
# Addition +
155+22

177

In [6]:
# Subtraction -
12-7

5

In [5]:
# Multiplication *
2*9

18

In [4]:
# Division /
6/5

1.2

In [9]:
# Floor division operator //
# 7/4 is 1.75... but
# The // operator (two forward slashes) truncates the decimal WITHOUT rounding, returning an integer result.
7//4

1

*Floor division*: Seven divided by four is 1.75, truncated to 1.

In [8]:
# Modulo operator %
# This returns the REMAINDER from a division operation
7%4

3

*Modulo*: Seven divided by four has a "remainder" of 3. The % operator returns the remainder after division.

In [11]:
# Power operator **
3**3

27

In [15]:
# Can also do roots this way
4**0.5 # equivalent to 4**(1/2)

2.0

In [19]:
# Order of Operation followed in Python is * or /, then + or -
2 + 5 * 5 - 3

24

In [20]:
# Operations in parentheses take priority in the order of operation
(2+5) * (5-3)

14

---
## 3. Using named variables
---

So far we have looked at how to use Python as a calculator. Now, let's see how we can create variable objects with names.

We use a single equals sign to assign labels to variables and values on the right are assigned to object names on the left.

In [21]:
# Create an object called "a" and the number 5 to it
a = 5

Now if we submit the name *a* in a Python script, Python will treat it as the number 5.

In [23]:
# Arithmentic with variable objects
print(a+a, a-2, a**2)

10 3 25

*Reassignment*: Python will allow us to recycle variable names (but with great power, comes great responsibility...)

In [37]:
# Assignment
bob = 10

# Check
bob

10

In [29]:
# Reassignment
bob = 42

# Check
bob

42

Yep Python will allow you to write over assigned variable names. You exploit this to "update" the value of a variable:

In [33]:
# Check
a = 5
a

5

In [34]:
# Use a to redefine a
a = a + a
# Check 
a

10

You can choose any name you wish when creating variable names, as long as you **follow a few rules**:

**Avoid**

    1. Variable names cannot start with a number
    2. Variable names cannot contain spaces (use _ instead, like my_variable)
    3. Variable names cannot contain any of these symbols : ' " , < > \/ ? | \ ( ) ! @ # $ % ^ & ~ - +

**Best practice**    

    1. Names should be in lower case letters
    2. Avoid using ambiguous characters like 'l' (lower case letter "el"), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names
    3. Avoid using words that have special meaning in Python like "list" and "str"

In [40]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [41]:
# Show my taxes!
my_taxes

10.0

---
## 4. Dynamic Typing
---

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.  This is important to know about because, while it makes Python easy to use and is very powerful, it can also lead to errors.

In [42]:
# Make a numeric integer variable
my_dogs = 2

In [43]:
my_dogs

2

In [44]:
# Reasign some chracter strings to the same variable
my_dogs = ['Sammy', 'Frankie']

In [45]:
my_dogs

['Sammy', 'Frankie']

### Pros and Cons of Dynamic Typing

**Pros**
* very easy to work with
* faster development time

**Cons**
* may result in unexpected bugs!
* you need to be aware of `type()`

---
## 5. Variable type and the `type()` function
---

You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include (don't worry if some of these are new):
* **int**    (integer)
* **float**  (floating point
* **str**    (character string)
* **list**
* **tuple**
* **dict**   (a Python dictionary)
* **set**
* **bool**   (for 0/1 or Boolean True/False)

In [47]:
timmy = 'a child'
type(timmy)

str

In [48]:
my_count = (45, 24)

In [49]:
type(my_count)

tuple